.vroom {
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow-y: auto;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    height: 10vh;

    padding: 0 3px;

    .logo {
      height: 100%;

      img {
        height: 100%;
      }
    }
    h1 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      color: white;
    }
  }

  section.car-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;

    .card {
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(0, 0, 0);
      border-radius: 1rem;
      flex-basis: 100%;

      @media screen and (min-width: 576px) {
        flex-basis: calc(50% - 1rem);
      }

      @media screen and (min-width: 1050px) {
        flex-basis: calc(25% - 3rem);
      }

      h4 {
        padding: 1vh 1vw;
        margin: 0;

        .minicar {
          display: inline-block;
          background-color: orange;
          padding: 1vmin;
          border-radius: 50%;
          margin-right: 1vw;
          font-size: max(32px, 8vmin);
        }
      }

      div.id {
        padding: 1vh 1vw;
        background-color: silver !important;
      }
    }
  }
}
